* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-flex {
    max-width: 1170px;
    margin: auto;
    display: flex;
}

.header-top {
    display: flex;
    background-color: #ADD8E6;
    height: 50px;
}

.nav {
    background-color: #DAA520;
    height: 30px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.nav.primo {
    width: 20%;
    justify-content: flex-start;

}

.nav.secondo {
    width: 60%;
    justify-content: center;

}

.nav.terzo {
    width: 20%;
    justify-content: flex-end;

}

.header-bottom {
    display: flex;
    background-color: #00008B;
    height: 350px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    height: 80%;
    background-color: #EE82EE;
    width: 500px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.sezione {
    display: flex;
    height: 400px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sezione.prima {
    background-color: white;
}

.sinistro {
    background-color: #1E90FF;
    height: 80%;
    width: 40%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.destro {
    background-color: #FFC0CB;
    height: 80%;
    width: 30%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sezione.seconda {
    background-color: #D3D3D3;
    flex-direction: row-reverse;
}

.sezione.terza {
    background-color: white;
}
.sezione.quarta {
    background-color: #D3D3D3;
    height: 800px;
}
.centrale {
    background-color: #228B22;
    height: 80%;
    width: 70%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}